body {
  margin: 0;

  background-color: white;

  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1;
  color: #161616;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

.img {
    display: block;
    padding: 0;
    list-style: none;
    width: 100%;
}


body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #FF7171;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #FF9C9C;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: white;  /* creates padding around scroll thumb */
}

.done {
  text-decoration: line-through;
}

/***************************** CONTAINER ***************************/


/**********************************************************************
******************************* STTAAAAAAAART *************************
**********************************************************************/
.nothing {
  position: absolute;
  top: 40%;
  left: 25%;

  width: 430px;
  height: auto;
  background-color: rgba(244, 244, 244, 1);
  border-radius: 25px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.done_butt {
  display: inline-block;
  width: 30px;
  height: 30px;

  border-radius: 20%;
  background-image: url(./yes.png);
  background-repeat: no-repeat;
  background-size: 30px;

  position: absolute;
  right: 90px;
  top: 5px;

  cursor: pointer;
}

.done_butt:hover {
  cursor: pointer;
  outline: 2px solid rgba(139, 160, 212, 1);
}

.active {
  text-decoration: line-through;
}

.inactive {
  text-decoration: none;
}

#section-todo {

}

.collection {
  position: absolute;
  top: 20px;
  left: 25%;
  z-index: 1;

  width: 500px;
  height: auto;
  background-color: rgba(244, 244, 244, 1);
  border-radius: 25px;
  border: 2px solid rgba(0, 0, 0, 0.2);

  margin-bottom: 120px;
}

.collection-item {
  position: relative;
  display: flex;
  flex-direction: row;

  line-height: 1;

  width: 100%;
  height: 40px;
  align-items: center;
  margin: 25px 10px;

}

.star {
  margin-left: -20px;
  border: none;
  width: 40px;
  height: 40px;
  opacity: 0;
  cursor: pointer;
}

.star_off {
  margin-left: 20px;
  border: none;
  width: 40px;
  height: 40px;
  background-color: rgba(244, 244, 244, 1);
  background-image: url(./star.png);
  background-repeat: no-repeat;
  background-size: 39px;
  cursor: pointer;
}

.behind {
  z-index: -1;
}

.first {
  z-index: 1000;
}

.star_on {
  margin-left: 20px;
  border: none;
  width: 40px;
  height: 40px;
  background-color: rgba(244, 244, 244, 1);
  background-image: url(./starfull.png);
  background-repeat: no-repeat;
  background-size: 39px;
  cursor: pointer;
}

.task_name {
  font-size: 20px;
  font-weight: 400;

  margin-left: 20px;
}

 .biner {
   position: absolute;
   right: 40px;
   width: 30px;
   height: 30px;
   float: right;
   border-radius: 20%;

   background-image: url(./bin.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 30px;
 }

  .biner:hover {
    cursor: pointer;
    outline: 2px solid rgba(139, 160, 212, 1);
  }

  /**************************** NEW TASK *****************************/

  .row {
    position: fixed;
    bottom: 0px;
    left: 25%;
    z-index: 2;

    background-color: rgba(244, 244, 244, 1);
    width: 500px;
    border-radius: 25px 25px 0 0;
    border: 2px solid rgba(70, 82, 157, 0.4);

    padding: 13px 0px 10px 0px;
    display: flex;
    align-items: center;
  }

  .new_task_name {
    width: 350px;
    height: 50px;

    margin-left: 30px;
    margin-right: 30px;
  }

  .new_task_input{
    border-radius: 20px;
    outline: 2px solid rgba(0, 0, 0, 0.5);
    border: none;

    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 1;
    color: #161616;

    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 10px;

    transition: border .3s linear, outline .3s linear;
  }

  .new_task_input:focus {
    border: none;
    outline: 3px solid rgba(139, 160, 212, 1);
  }


  .task_plus {

    border-radius:50%;

    display:inline-block;
    width:60px;
    height:60px;

    background:
      linear-gradient(#fff 0 0),
      linear-gradient(#fff 0 0),
      #52D6A6;
    background-position:center;
    background-size: 60% 3px, 3px 60%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat:no-repeat;
    transition: background-color .3s, color .3s;
  }

  .task_plus:hover {
    cursor: pointer;
    background:
      linear-gradient(#fff 0 0),
      linear-gradient(#fff 0 0),
      #6373D6;
      background-position:center;
      background-size: 60% 3px,3px 60%; /*thickness = 2px, length = 50% (25px)*/
      background-repeat:no-repeat;
  }



  /**************************** MENU *****************************/
  .menu {
  position: fixed;

  width: 300px;
  height: 100vh;
  background-color: rgba(139, 160, 212, 1);
  border-radius: 0 30px 30px 0;
  outline: 9px solid rgba(203, 215, 245, 1);

  font-size: 40px;
  color: white;
  font-weight: 300;
}

.menu_inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 45px;
}

.profile_pic {
  border-radius: 50%;
}

.avatar {
  vertical-align: middle;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  border: 3px solid rgba(203, 215, 245, 1);
}

.profile_name {
  margin-top: 13px;
}

.profile_lastname {
  margin-top: 9px;
}

.profile_line {
  margin: 16px 0 16px 0;
  width: 75%;
  height: 2px;
  background-color: white;
}

.quit{
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
}

.quit_inner {
  margin-bottom: 40px;
  border-radius: 30px;
  background-color: rgba(255, 197, 84, 1);
  color: white;
  border: none;
  text-align: center;

  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  padding: 10px 20px;

  transition: background-color .3s;
}

.quit_inner:hover {
  background-color: rgba(255, 113, 113, 1);
  cursor: pointer;
}
.quit_butt {
    color: white;
    text-decoration: none;
}

.quit_visited {
    color: white;
}

/*              LIZAAAAAAAAA            */

.container {
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: row;
    max-height: 1080px;
    max-width: 1920px;
    height: 100vh;
    overflow: hidden;
}

.right_side {
    width: 50%;
    background: url('../img/list.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

    .right_side img {
        width: 100%;
    }

.left_side {
    display: flex;
    flex-direction: column;
    width: 50%;
    background: #FBFDFE;
}

.connection {
    position: relative;
    top: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
}

    .connection h1 {
        font-weight: 400;
        font-size: 46px;
        line-height: 56px;
        color: #000000;
        margin-bottom: 20px;
    }

.next {
    flex: none;
    position: relative;
    bottom: 40px;
    right: 40px;
}

    .next a {
        bottom: -40px;
        float: right;
    }

.form {
    display: flex;
    flex-direction: column;
    padding: 10px 0 20px 0;
}

    .form input {
        width: 400px;
        height: 80px;
        background: #FFFFFF;
        border: 3px solid rgba(70, 82, 157, 0.4);
        border-radius: 30px;
        font-weight: 300;
        font-size: 20px;
        font-family: "Montserrat";
        color: #000000;
        opacity: 0.6;
        text-indent: 20px;
        text-align: left;
    }

.inpt {
    margin-bottom: 30px;
}

.error {
    color: red;
    font-size: 16px;
    visibility: hidden;
}

.reg_login {
    margin-bottom: 7px;
}

.password {
    margin-bottom: 25px;
}

.password_confirm {
    margin-bottom: 7px;
}

.login_error {
    visibility: hidden;
    color: red;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 16px;
}

.password_error {
    visibility: hidden;
    color: red;
    margin-bottom: 15px;
    padding-left: 20px;
    font-size: 16px;
}

.connection a {
    margin-top: 20px;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #46529D;
    text-align: left;
}

    .connection a:hover {
        color: #46529D;
    }

    .connection a:visited {
        color: #46529D;
    }


@media only screen and (min-width: 992px) and (max-width:1424px) {
    .connection h1 {
        font-size: 36px;
    }
}

@media only screen and (min-width: 767px) and (max-width:991px) {
    .connection h1 {
        font-size: 30px;
    }

    .form input {
        width: 330px;
        font-size: 19px;
    }
}

@media only screen and (min-width: 480px) and (max-width:766px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .next {
        flex: none;
    }

        .next a {
            padding: 21px;
            float: right;
        }

    .left_side {
        width: 100%;
    }

    .right_side {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .next {
        flex: none;
    }

        .next a {
            padding: 21px;
            float: right;
        }

    .left_side {
        width: 100%;
    }

    .right_side {
        display: none;
    }

    .connection h1 {
        font-size: 30px;
    }

    .form {
        width: 90%;
    }

        .form input {
            width: 100%;
            font-size: 20px;
        }
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%, 100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}