body {
  margin: 0;

  background-color: white;

  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1;
  color: #161616;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

.img {
    display: block;
    padding: 0;
    list-style: none;
    width: 100%;
}

button {
  font-style: normal;
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #FF7171;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #FF9C9C;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: white;  /* creates padding around scroll thumb */
}

.done {
  text-decoration: line-through;
}

/***************************** CONTAINER ***************************/


/**********************************************************************
******************************* STTAAAAAAAART *************************
**********************************************************************/
.nothing {
  position: absolute;
  top: 40%;
  left: 25%;

  width: 430px;
  height: auto;
  background-color: rgba(244, 244, 244, 1);
  border-radius: 25px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
}

#section-todo {

}

.collection {
  position: absolute;
  top: 20px;
  left: 25%;
  z-index: 1;

  width: 500px;
  height: auto;
  background-color: rgba(244, 244, 244, 1);
  border-radius: 25px;
  border: 2px solid rgba(0, 0, 0, 0.2);

  margin-bottom: 120px;
}

.collection-item {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  align-items: center;

  margin: 25px 10px;
}

.star_off {
  margin-left: 18px;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  background-image: url(./star.png);
  background-repeat: no-repeat;
  background-size: 39px;
  cursor: pointer;
}

.star_on {
  margin-left: 18px;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  background-image: url(./starfull.png);
  background-repeat: no-repeat;
  background-size: 39px;
  cursor: pointer;
}

.task_name {
  font-size: 20px;
  font-weight: 400;
}

 .biner {
   position: absolute;
   right: 40px;
   width: 30px;
   height: 30px;
   float: right;
   border-radius: 20%;


   background-image: url(./bin.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 30px;
 }

  .biner:hover {
    cursor: pointer;
    outline: 2px solid rgba(139, 160, 212, 1);
  }


  /**************************** NEW TASK *****************************/

  .row {
    position: fixed;
    bottom: 0px;
    left: 25%;
    z-index: 2;

    background-color: rgba(244, 244, 244, 1);
    width: 500px;
    border-radius: 25px 25px 0 0;
    border: 2px solid rgba(70, 82, 157, 0.4);

    padding: 13px 0px 10px 0px;
    display: flex;
    align-items: center;
  }

  .new_task_name {
    width: 350px;
    height: 50px;

    margin-left: 30px;
    margin-right: 30px;
  }

  .new_task_input{
    border-radius: 20px;
    outline: 2px solid rgba(0, 0, 0, 0.5);
    border: none;

    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 1;
    color: #161616;

    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 10px;

    transition: border .3s linear, outline .3s linear;
  }

  .new_task_input:focus {
    border: none;
    outline: 3px solid rgba(139, 160, 212, 1);
  }


  .task_plus {

    border-radius:50%;

    display:inline-block;
    width:60px;
    height:60px;

    background:
      linear-gradient(#fff 0 0),
      linear-gradient(#fff 0 0),
      #52D6A6;
    background-position:center;
    background-size: 60% 3px, 3px 60%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat:no-repeat;
    transition: background-color .3s, color .3s;
  }

  .task_plus:hover {
    cursor: pointer;
    background:
      linear-gradient(#fff 0 0),
      linear-gradient(#fff 0 0),
      #6373D6;
      background-position:center;
      background-size: 60% 3px,3px 60%; /*thickness = 2px, length = 50% (25px)*/
      background-repeat:no-repeat;
  }



  /**************************** MENU *****************************/
  .menu {
  position: fixed;

  width: 300px;
  height: 100vh;
  background-color: rgba(139, 160, 212, 1);
  border-radius: 0 30px 30px 0;
  outline: 9px solid rgba(203, 215, 245, 1);

  font-size: 40px;
  color: white;
  font-weight: 300;
}

.menu_inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 45px;
}

.profile_pic {
  border-radius: 50%;
}

.avatar {
  vertical-align: middle;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  border: 3px solid rgba(203, 215, 245, 1);
}

.profile_name {
  margin-top: 13px;
}

.profile_lastname {
  margin-top: 9px;
}

.profile_line {
  margin: 16px 0 16px 0;
  width: 75%;
  height: 2px;
  background-color: white;
}

.quit{
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
}

.quit_inner {
  margin-bottom: 40px;
  border-radius: 30px;
  background-color: rgba(255, 197, 84, 1);
  color: white;
  border: none;
  text-align: center;

  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  padding: 10px;

  transition: background-color .3s;
}

.quit_inner:hover {
  background-color: rgba(255, 113, 113, 1);
  cursor: pointer;
}
